/* navbar */
.navbar{
  color: greenyellow;
}


.carouselMargin{
    margin-top: 20px;
    margin-bottom: 20px;
}
.carousel-inner > .carousel-item > img{
    height: 800px;
}
.card{
margin: 15px;
}
.cards-margin img {
  height: 350px;
    
}
.cards-dest-margin{
  margin: 30px;
}
.cards-dest-margin > img{
  height: 800px;
}
.dest-kollam{
margin: 30px;
}

.pathan-margin{
  margin: 30px;
}
.form-margin{
  margin-top: 200px;
}
.form-signup-margin{
  margin: 20px;
}
.background-img{
  margin: auto;
}

/* form */

.login{
  float: left;
  /* border: 2px solid red; */
  background-color: white;
  height: 30em;
  margin-top: 10%;
  margin-right: 2%;
  margin-left: 43%;
  padding: 30px;
  width: auto;
  
  
}

.login h2{
  text-align: center;
}
.login input{
  height: 1.5em;
}
.login #login-button{
  width: 100%;
  height: 1.8em;
  color: white;
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
}
/* destination removal of color of anchor tag */
.card-title{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style:initial;

  text-shadow:aliceblue;

}
/* signup page */

.foot p {
  margin-left: 45%;
}
/* tvm title */
#title{
  text-align: center;
}
#para{
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  font-size: large;
}
#title2{
  text-align: center;
}
.card-text{
  text-align: justify;
}
.card{
  height: min-content;
}
.card-img-top{
  height:min-content;
}
.background{
  margin: auto;
}

/* password strength meter */
.displayBadge{
  margin-top: 5%; 
  display: none; 
  text-align :center;
}